* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;

  
}
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

#body{
  color: #B6EADA;
  font-size: 20px;
  text-align: center;
  background-color: #03001C; 
  margin: 0 ;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  'header header header'
  'main main main'
  'main main main'
  'footer footer footer'
  ;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}


header{
  font-family: 'Orbitron', sans-serif;
  grid-area: header;
  background-color: #03001C;
  padding: 10px;
  font-size: 60px;
}


main{
  grid-area: main;
  background-color: #03001C;
  padding: 20px;
  border-radius: 4em;
  margin: auto;
  border: solid #03001C;
  border-width: 10px 10px 10px 10px;
}

footer{
  grid-area: footer;
  background-color: #0a043e;
  padding: 10px;
}

.investigate{
  position:relative;
  width: 200px;
  height: 60px;
  background-color: #142d4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ececec;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 2.5em;
  margin: auto;
  border-radius: 2em;
  border-top: 0.5px solid #ececec;
  border-left: 0.5px solid #ececec;
  transition: padding 0.5s ease 0s;
  position: absolute;
  border: none;
  width: 15em;
  height: auto;
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  background-size: 300%;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.investigate:hover{
  padding-left: 0px;
  padding-right: 2.5em;
  color: #f441a5;
  cursor: pointer;
}

.investigate span {
  position:absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 2em;
  transition: left .7s ease 0s;
}

.investigate:hover span {
  left: calc(100% - 55px);
}

.investigate::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 100px;
  z-index: -1;
  background-color: #f3f3f391;
  transform: translate(-200px) skew(35deg);
  transition: transform 0.7s ease 0s;
}

.investigate:hover::after{
  transform: translate(180px) skew(35deg);
}

/*.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}*/

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  

}

ul li a {
  padding: 20px;
  display: block;
  color: #ddd;
  text-decoration: none;
  background: #21263E;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: flex;
  flex-direction: column;
}

ul li:hover a {
  color: #fff;
}



/*#listitems {
    padding: 10px;
    background-color: #142d4c;
    position: relative;
    list-style: none;
    margin: auto;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
  }*/


.gobutton{
  position: relative;
  background: #7983ff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.gobutton span {
  position: relative;
}

.gobutton::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.gobutton:hover::before {
  --size: 200px;
}


/*BACK BUTTON*/
.backbutton{
  position:relative;
  width: 200px;
  height: 60px;
  background-color: #142d4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ececec;
  font-weight: 300;
  letter-spacing: 2px;
  padding-left: 2.5em;
  margin: auto;

  transition: padding 0.5s ease 0s;
  position: absolute;
  border: none;
  width: 10em;
  height: auto;
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  background-size: 200%;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.backbutton:hover{
  padding-right: 0px;
  padding-right: 1em;
  color: #417eda;
  cursor: pointer;
}

.backbutton span {
  position:absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 2em;
  transition: left .7s ease 0s;
  justify-content: left;

}


@keyframes animation{
  0% {background-position: 0%;}
  100% {background-position: 400%;}
}
/*.box{
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.box::before{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #f638dc);
  animation: rotate 4s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #ffb5b5);
  animation: rotate 4s linear infinite;
  animation-delay: -2s;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}*/



.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color:#200f21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.network {
  background-color:#b6eada4e; 
  align-items:center; 
  height: 500px; 
  width: 800px; 
}

/* Dual Ring */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Expand button width smoothly and display text on hover*/
.sti_container{
  position: absolute;
  word-wrap: break-word;
}

.btn{
  position: relative;
  display: inline-block;
  padding: 15px;
  background-color: #03001C;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  left: 20px;
  top: 150px;
  max-width: 500px;
  min-height: 100px;
  border: 50px #03001c;
  background: #0a043e29;
  background-clip: padding-box;
}

.btn .btn-text{
  -webkit-transition: color 20s;
  transition: color 1s;
  vertical-align: right;
  overflow: hidden;
  color: #03001C;
  word-wrap: break-word;
  height: fit-content;
  max-width: min-content;
  width: max-content;

}
.btn:hover .btn-text{
  width: auto;
  color: white;
}


#infoText{
  max-width: 400px;
}

.btn span{
  position:absolute;
  width: 50px;
  height: 50px;
  left: 10;
  top: -50px;
  display: flex;
  color: #b6eada;
  font-size: 7em;
  justify-content: left;
}

/* INPUT URL */
input[type=url] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

input[type=url]:focus {
  border: 5px solid #00ddff;
}

.GeneralRendering {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.GeneralRendering:hover{

  color: #f441a5;
  cursor: pointer;
}